<div class="d-flex flex-column align-items-center bd-highlight mt-3">
  <div class="d-flex flex-column bd-highlight">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active ms-3" aria-current="page" href="/">Анкета</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Мероприятия</a>
      </li>
    </ul>
    <hr>
    <div class="d-flex justify-content-around">
      <h4>All events</h4><a style="display: block; text-decoration: none; font-size: 25px" href="/create">+</a>
    </div>
    <hr>
    {{#each organizer}}
    <li>
      <div class="d-flex bd-highlight">
        <ul class="nav nav-pills">
          <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" href="/personal/del/{{this.event_identifier}}">Удалить</a>
          </li>
   
          <li class="nav-item mx-3">
            <a class="nav-link active" href="/join/{{this.id}}">Перейти к мероприятию </a> 
          </li>
          <h3 class="ps-3"> {{this.title}}</h3>
        </ul>
      </div>
        <h3 class="ps-3">Пришлашение: {{this.event_identifier}}  </h3>
    </li>
    {{/each}}
    {{#each memberEvents}}
    <li>
      <div class="d-flex bd-highlight">
        <h3 class="pe-3"> {{this.dataValues.title}}</h3>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Не хочу идти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </li>
    {{/each}}
    </ul>
  </div>
</div>
